.DS_Store
node_modules
/dist
package-lock.json
/server/*.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode

# Jupyter Notebook checkpoints
.ipynb_checkpoints